language: node_js
node_js:
- '8'
- '9'
- '10'

script:
- yarn build

deploy:
- provider: npm
  skip_cleanup: true
  email: $NPM_EMAIL
  api_key: $NPM_KEY
  on:
    tags: true
    repo: lifeomic/abac
    node: '8'
    branch: master

notifications:
  email:
    on_success: never
    on_failure: always
